/.gradle/
/local.properties
/.idea/
.DS_Store
/bin/
/gen/
/build/
/MuzeiWebcam/build/
*.iml
com_crashlytics_export_strings.xml
MuzeiWebcam/src/main/assets/crashlytics-build.properties
MuzeiWebcam/versionNumber
MuzeiWebcam/releaseNotes
MuzeiWebcam/google-services.json
