<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="@xml/backup_descriptor"
        android:theme="@style/MWTheme" >

        <provider
            android:name="net.luxteam.muzeiwebcam.api.WebcamArtProvider"
            android:authorities="net.luxteam.muzeiwebcam"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER"
            android:exported="true"
            android:description="@string/source_description"
            android:icon="@drawable/ic_launcher"
            android:label="@string/source_name" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="net.luxteam.muzeiwebcam.ui.activity.SettingsActivity" />
        </provider>

        <activity
            android:name="net.luxteam.muzeiwebcam.ui.activity.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="net.luxteam.muzeiwebcam.ShareSettingsActivity"
            android:enabled="true"
            android:targetActivity="net.luxteam.muzeiwebcam.ui.activity.SettingsActivity" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ui.activity.AboutActivity" />

    </application>

</manifest>
